body {
    font-family: "Pangolin";
    letter-spacing: 3px;
    font-size: 1.5rem;
    background-color: rgb(211,110,47);
    color: purple;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 25px;
}
h1 {
    text-align: center;
    color: grey;
    text-shadow: 1px 1px 4px blue;
}
#para1 {
    width: 80%;
    height: auto;
    background-color: gray;
    border: 2px rgb(45,45,46) solid;
    outline: 2px blue solid;
    padding: 25px;
    margin: 15px 10% 15px 10%;
    font-family: "Pangolin";
    color: purple;
    text-align: center;
}
#pic1, #pic2 {
    width: 50%;
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 25%;
    margin-right: 25%;
    border: 2px purple solid;
    outline: 1px grey solid;
}
#pic3, #pic4, #pic5 {
    width: 60%;
    height: auto;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 2px purple solid;
    outline: 1px grey solid;
}
iframe {
    margin: 15px 33% 15px 33%;
    border: 2px rgb(45,45,46) solid;
    outline: 2px blue solid;
}
footer {
    font-size: 1rem;
    text-align: center;
}